[Unit]
Description="goplay music player server"
After=network.target

[Service]
Restart=always
RestartSec=1
ExecStart=/bin/bash -c ~/.local/bin/goplayer

[Install]
WantedBy=default.target
Alias=goplay.service

